[submodule "crossplane"]
	path = crossplane
	url = git@gitlab.bausteln.ch:net-core/kubernetes-projects/crossplane.git
[submodule "portal"]
	path = portal
	url = git@gitlab.bausteln.ch:net-core/reverse-proxy/mortar-portal.git
