[submodule "portal"]
	path = portal
	url = git@gitlab.bausteln.ch:net-core/reverse-proxy/mortar-portal.git
[submodule "crossplane"]
	path = crossplane
	url = git@gitlab.bausteln.ch:foss/reverse-proxy/proxy-rules.git
